@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 64.73%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header > .wrapper {
  /* width: 100%; */
  padding:36px 0 38px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  /* color: #FFF; */
  text-transform: uppercase;
  font-size: 19px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

nav {
  padding-top: 7px;
  margin:0 1.76% 0 5.14%;
  flex-basis: 59.65%;
}

header a {
  color: #000;
}

.brand-name {
  margin-left: 1.29%;
}

.brand-name > a {
  text-indent: -9999px;
}

.brand-name > a > img {
  width: 140px;
  height: 34px;
  float: right;
}

.hide-menu-item {
  font-weight: bold;
}

.hide-menu-item:nth-of-type(2) > a {
  color: #7cce8b;
}

.hide-menu-item:nth-of-type(4)::after {
  content: " \f078";
  font-family: "FontAwesome";
  font-size: 10px;
}

.menu-bar{
  display: none;
  font-weight: bold;
}





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.section1 > div {
  width: 100%;
  padding: 225px 0;
  position: relative;
  background-image: url('../images/slide-2.jpg');
}

.scroll-left {
  width: 2.78%;
  position: absolute;
  left: 175px;
  top: 50%;
  /* background-color: #FFF; */
  color: #92cdea;
  font-size: 49px;
  height: 106px;
  /* transform: translateY(-50%); */
}

.scroll-left > i {
  /* transform: translate(50%,50%); */
}

.scroll-right {
  position: absolute;
  top: 50%;
  right: 175px;
  /* background-color: #FFF; */
  color: #92cdea;
  font-size: 49px;
  width: 2.78%;
  height: 106px;
  /* width: 53px; */
  /* transform: translateY(-50%); */
}

.scroll-right > i {
  /* transform: translate(120%,50%); */
}

.section1-item:nth-of-type(n+2) {
  display: none;
}

.section1-list {
  margin: 0 auto;
  width: 47.24%;
}
  
  
.section1-item {
  width: 100%;
}
 
.section1-content {
  width: fit-content;
  margin: auto;
  color:white;
}

.section1-title {
  /* font-size: 64px; */
  font-size: calc(3.33vw);
  text-transform: uppercase;
}
@font-face {
  font-family: 'font1';
  src: url('../fonts/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2');
}

@font-face {
  font-family: 'font2';
  src: url('../fonts/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2');
}

@font-face {
  font-family: 'font3';
  src: url('../fonts/KFOkCnqEu92Fr1Mu51xIIzI.woff2');
}

@font-face {
  font-family: 'font4';
  src: url('../fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2');
}

@font-face {
  font-family: 'font5';
  src: url('../fonts/KFOlCnqEu92Fr1MmSU5fBBc4.woff2');
}

@font-face {
  font-family: 'font6';
  src: url('../fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2');
}

@font-face {
  font-family: 'font7';
  src: url('../fonts/KFOlCnqEu92Fr1MmYUtfBBc4.woff2');
}

@font-face {
  font-family: 'font8';
  src: url('../fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
}

.section1-para {
  margin-top:10px;
  font-size: 20px;
  text-align: center;
}

.make-appointment-btn {
  padding: 18px 6.66%;
  /* padding: 18px 60px; */
  margin-top: 29px;
  display: inline-block;
  position: relative;
  left: 50%;
  background: #37c989;
  color: #fff;
  /* margin: 0 auto; */
  text-transform: uppercase;
  transform: translateX(-50%);
}

.section2 > div {
  width: 100%;
}

.section2-div {
  width: 54.35%;
  margin: 0 auto;
}

/* .section2-div:nth-of-type(-n+3) {
  border-right: ;
} */

.section2-div > h4 {
  margin-top: 10px;
  font-size: 34px;
  font-weight: bold;
}

.section2-div > p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.8;
}

.section2-div > i {
  display: block;
  font-size: 46px;
}

.section2-div > * {
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
}


.feature-item {
  /* padding-top: 98px;
  padding-bottom: 106px; */
  padding: 98px 0 106px;
  border: .1px solid #e9ebec;
  flex-basis: 32.9%;
}

.feature-item:nth-of-type(2),
.feature-item:nth-of-type(5) {
  flex-basis: 33.6%;
}

.feature-item:nth-of-type(3n) {
  border-right: 0;
}

.see-more {
  width: max-content;
  margin: 21px auto 0;
  display: block;
  color: #000;
}

.section3 {
  background-color: #37ca8a ;
 }

 .section3 > div {
   background-color: #3a3c3e;
 }

.section3-para {
  margin-top: 3px;
  color: #747570;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
 }

 .counter-content > h3 {
  font-size: 47px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'font5'
 }
 
 .imp {
  font-family: 'font7';
 }

.counter-content p:nth-of-type(2) {
  margin-top: 5px;
  color: #fff;
  font-size: 15px;
 }

 .counter-item > p {
  color: #37ca8a;
  font-size: 76px;
 }

 .count-title {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 15px;
 }

.section3-btns > a {
  /* padding:18px 43px; */
  padding: 18px 3.49%;
  background-color: #37ca8a;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  
 }

 .counter-list {
  margin-top: 56px;
  display: flex;
  justify-content: space-around;
 }

 .counter-content {
   padding:98px 0;
   text-align: center;
 }

 .section3-btns {
  /* width: fit-content; */
  margin: 59px auto 0;
  /* margin-top: 59px; */
 }

 .or-span {
  margin: 0 19px;
  font-size: 19px;
  color: #fff;
 }

 .count-title {
  margin-top: 3px;
 }

 .section4 > div > h3 {
  margin-bottom: 41px;
  font-size: 49px;
  text-transform: uppercase;
  text-align: center;

 }

 .section4 > div {
   width: 100%;
 }

 .memberlist {
  width: 63.53%;
  margin: 0 auto;
  display: flex;
 }
/* slider */
/* .memberitem.slide-center > figure  { */
 .slide-active > figure  {
  width: 62.63%;
 }

.member-name {
  margin-top: 31px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
 }

.member-profile {
  margin-top: 4px;
  color: #c6c6c6;
  font-size: 14px;
  position: relative;
  text-align: center;
 }

.member-profile::after {
  content: " "; 
  border-top: 1px solid #c6c6c6;
  display: block;
  width: 163px;
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
 }

 .infolist {
  margin-top: 34px;
  text-align: center;
 }

 .infoitem {
  margin-top: 12px;
   width: 100%;
 }

/* slider */
 /* .memberitem:nth-of-type(2) */
 /* .memberitem.slide-center { */
  .slide-active.slide-center {
   border-top: 5px solid #37c989;
   border-bottom: 5px solid #37c989;
 }

 .memberitem {
  padding: 127px 4.57% 127px 4.57%;
 }

 .memberitem > figure > img {
  border-radius: 50%;
 }

 /* slider */
/*  .memberitem:nth-of-type(odd) > figure > img { */
 /* .memberitem.slide-center > figure > img { */
  .slide-active.slide-center > figure > img {
  width: 80.83%;
  margin-top: 35px;
  position: relative;
  left: 50%; 
  transform: translateX(-50%);
 } 

.memberitem:not(.slide-active) {
  display: none;
}

.memberitem > figure {  
margin: 0 auto;
}

 .infoitem > a {
   color:#000;
 }

.slick-slide {
  display: none;
}

.slick-slide.slick-active {
  display: block;
}

 .section4 > div {
  padding: 121px 0 35px;
 }


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  background-color: #3a3c3e;
  color:#fff;
}

footer > div {
  padding: 43px 0 36px;
  /* display: flex;
  justify-content: space-between; */
  font-size: 14px;
}

.social-items {
  background-color: #45494c;
  padding: 4px;
  border-radius: 5px;
}

.social-items:nth-of-type(1){
  background-color: initial;
  padding: 0;
}

.social-items a {
  text-indent: -9999px;
}

.social-items::before {
  font-family: "FontAwesome";
  font-size: 14px;
}


.social-items:nth-of-type(2)::before {
  content: "\f09a";
}

.social-items:nth-of-type(3)::before {
  content: "\f099";
}

.social-items:nth-of-type(4)::before {
  content: "\f0d5";
}

.back-to-top  {
  float: right;
  font-size: 30px;
  color: #37ca8a;
}

.infoitem:nth-of-type(1)::before {
  content: "\f095";
  padding-right: 10px;
  font-family: "FontAwesome";
  font-size: 21px;
  color: #37ca8a;
}

.infoitem:nth-of-type(2)::before {
  content: "\f003";
  padding-right: 10px;
  font-family: "FontAwesome";
  font-size: 21px;
  color: #37ca8a;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.section1-item {
  padding: 34px 1.8% 0;
  background:linear-gradient(to right, #37C989 3px, transparent 3px) 0 0,linear-gradient(to right, #37C989 3px, transparent 3px) 0 100%,linear-gradient(to left, #37C989 3px, transparent 3px) 100% 0,linear-gradient(to left, #37C989 3px, transparent 3px) 100% 100%,linear-gradient(to bottom, #37C989 3px, transparent 3px) 0 0,linear-gradient(to bottom, #37C989 3px, transparent 3px) 100% 0,linear-gradient(to top, #37C989 3px, transparent 3px) 0 100%,linear-gradient(to top, #37C989 3px, transparent 3px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 44px 44px;

}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
.navbar {
  justify-content: flex-end;
}

.menu-bar {
    display: block;
}
   
.hide-menu-item {
    display: none;
}
 
.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.show-menu-item {
  display: block;
}

.feature-item,
.feature-item:nth-of-type(2) ,
.feature-item:nth-of-type(5) {
  flex-basis: 49.6%;
}

.memberlist {
  width: 95%;
}

}  

@media only screen and (max-width:767px) {

  .section1-list {
    display: none;
  }
    
    
  .feature-item, .feature-item:nth-of-type(2), .feature-item:nth-of-type(5) {
    flex-basis: 100%;
  }
    
  .section3 > div {
    width:100%;
  }
    
  .counter-list {
    flex-direction: column;
  }
    
  .section3-para {
    font-size: 16px;
  }
    
    
  .counter-content > h3 {
        font-size: 24px;
  }
    
  .counter-content p:nth-of-type(2) {
    font-size: 7px;
  }  
  
  .counter-item {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    
  }
    
  .counter-list {
    justify-content: space-around;
        flex-direction: column;
  }
    
  .or-span {
        margin: 0 5px;
  }
    
    
  .section3-btns > a
    {
    font-size: 10px;
  }
    
    
  .section3-btns {
    display: flex;
    width: 94%;
  }
    
    
  .memberitem:not(:nth-of-type(2)) {
    display: none;
  }
    
    
    
    
    
    
    
}